.park-details {
	margin: 0 50px;
}
.park-details .park-image {
	text-align: center;
}
.park-details .park-image img {
	width: 100%;
}
.park-details .park-name {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin: 15px;
}
.park-details .park-information > div > span.label {
	font-weight: bold;
}
.park-details .park-information-header {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.park-details .park-information {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.park-details .park-quote .value {
	position: relative;
	background: #328709;
	border-radius: .4em;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	padding: 35px;
	margin-bottom: 1em;
}
.park-details .park-quote .value:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.906em solid transparent;
	border-top-color: #328709;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.453em;
	margin-bottom: -0.906em;
}
.park-details .park-quote .park-quote-source {
	padding: 0 20px;
	font-style: italic;
	text-align: center;
}
.park-details .park-description {
	text-align: justify;
	padding-right: 25px;
}



/* forecast */
.five-day-forecast {
	display: grid;
	grid-template-columns: 10fr repeat(4, 3fr);
	grid-column-gap: 20px;
	align-items: center;
	margin: 50px;
}
.five-day-forecast > a {
	grid-column: 1/span 5
}
.five-day-forecast > div img {
	width: 100%;
	height: auto;
}
.five-day-forecast > div {
	text-align: center;
	padding: 10px;
}
.five-day-forecast > div.forecast-day-1 {
	margin-right: 150px;
	background-color: #72B01D;
	border-radius: 17px;
}
.five-day-forecast > div {
	background-color: #3F7D20;
}
.five-day-forecast > div.forecast-day-1:before {
	content: "Today";
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	display: block;
}